// Colors
$button-background: rgb(255, 255, 255);
$button-background-hover: rgb(255, 122, 133);
$button-border: rgb(255, 255, 255);
$dropdown-background-desktop: rgb(255, 255, 255);
$dropdown-background-mobile: rgb(240, 240, 240);
$footer-background: rgb(37, 37, 45);
$header-background: linear-gradient(left, rgb(255, 143, 112), rgb(255, 61, 84));
$learn-more-button-background-hover: rgb(255, 255, 255);
$part-1-background: rgb(44, 45, 63);
$sign-up-button-background-mobile: linear-gradient(left, rgb(255, 143, 112), rgb(255, 61, 84));
$word-color-1: rgb(255, 255, 255);
$word-color-2: rgb(200, 200, 203);
$word-color-3: rgb(255, 82, 93);
$word-color-4: rgb(31, 63, 91);
$word-color-5: rgb(0, 0, 0);