footer {
    padding: 6% 25% 6% 12% !important;
    padding-bottom: 6% !important;
    padding-top: 6% !important;
    background-color: $footer-background;
    border-top-right-radius: 100px;
    color: $word-color-1;
    display: flex;
    justify-content: space-between;

    ul {
        list-style: none;

        li {
            line-height: 2rem;
            
            a {
                color: $word-color-2;
            }

            a:hover {
                color: $word-color-1;
                text-decoration: underline;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    footer {
        padding-top: 25% !important;
        flex-direction: column;
        text-align: center;
    }
}