body {
    font-family: 'Overpass', sans-serif;

    h1, h2, h3, h5, h6, p, a, img, main, footer, ul {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    h1, h2, h3, h6 {
        font-weight: 600;
    }

    h2, h3 {
        color: $word-color-4;
    }

    button {
        border: none;
        border-radius: 50px;
        font-weight: 500;
    }
}